# Домен третьего уровня DuckDNS (например: my-vpn)
DUCKDNS_SUBDOMAIN=xxx

# Секретный токен из личного кабинета DuckDNS
DUCKDNS_TOKEN=your_secret_token_here

# Email для уведомлений Let's Encrypt
LE_EMAIL=your-email@example.com
