# .gitignore

# Хранилище изменяемых данных (сертификаты Let's Encrypt и база данных 3X-UI)
/data/

# Пользователькие документы
/docs/user_docs/

# Конфиденциальные переменные окружения
.env

# Логи и временные файлы разработки
*.log
.DS_Store
